[submodule "uniswap-v3-core"]
	path = uniswap-v3-core
	url = https://github.com/Uniswap/uniswap-v3-core.git
[submodule "uniswap-v3-periphery"]
	path = uniswap-v3-periphery
	url = https://github.com/Uniswap/uniswap-v3-periphery.git
[submodule "plasma-evm-contracts"]
	path = plasma-evm-contracts
	url = https://github.com/Onther-Tech/plasma-evm-contracts
[submodule "v3-staker"]
	path = v3-staker
	url = https://github.com/Uniswap/v3-staker.git
