build/
plasma-evm-contracts/
uniswap-v3-core/
uniswap-v3-periphery/
node_modules
backup
typechain
.env
scripts/settings.json
.openzeppelin
#Hardhat files
cache
artifacts

param/
build/contracts/

.DS_Store
test/publicSale/lasttest

contracts/sale/dummy
v3-staker/

